#header{
    text-align: center;
    padding: 1.75rem;
    font-size: xx-large;
}
#name{
    margin-right: 10px;
    font-weight: bold;
}

#order{
    color: #666666;
}

.info {
    margin-bottom: 5px;
}
.label{
    margin-right: 10px;
}
.image-container{
    min-height: 100px;
}

img{
    width: 60%;
}

#info{
    margin-right: 30px;
}

app-pokemon-type-tag{
    margin-right: 5px;
}
