@if (pokemonDetails$ | async; as pokemon) {
    <div class="grid nested-grid">
        <div class="col-12" id="header"><span id="name">{{pokemon.name | uppercase }}</span> <span id="order">#{{pokemon.order | zeroPad}}</span></div>
        <div class="col-12 md:col-6 image-container">
            <p-image  alt="{{pokemon.name}}" src={{pokemon.image}} [preview]="true" />
        </div>
        <div class="col-12 md:col-6">
            <div class="col-12">
                <p-divider align="left" type="solid">
                    <b>Basic details</b> 
                </p-divider>
                <div class="info">
                    <span class="label">HEIGHT:</span> {{pokemon.height/10}}m
                </div>
                <div class="info">
                    <span class="label">WEIGHT:</span> {{pokemon.weight/10}}kg
                </div>

            </div>
            <div class="col-12">
                <p-divider align="left" type="solid">
                    <b>Types</b> 
                </p-divider>
            </div>
        </div>
    </div>
}


