
<app-spinner [isLoading]="isLoading"></app-spinner>

@if(!isLoading){
    <div class="flex align-items-center justify-content-center">
        <div class ="flex align-items-center justify-content-center bg-primary font-bold border-round m-2">
            <p-inputGroup>
                <input type="text" pInputText placeholder="search pokemon" [(ngModel)]="searchValue" (keyup.enter)="findPokemonByName()" />
                <button type="button" pButton icon="pi pi-search" style="width: 50px;" (click)="findPokemonByName()"></button>
            </p-inputGroup>
        </div>
    </div>
<div class="grid">
    @for (poke of pokemons; track $index) {
        <div class="col-12 sm:col-6 md:col-6 lg:col-4 xl:col-3" (click)="goToPokemonDetails(poke.url)">
            <p-card header={{poke.name}}>
                <ng-template pTemplate="header">
                    <img alt="Card" src={{poke.image}}/>
                </ng-template>
            </p-card>
        </div>
    }
    
</div>
<div class="grid">
    <div class="col-12 text-center">
        @if(maxLoadedPokemon!=currentOffset){
            <p-button label="LOAD MORE" (click)="loadMorePokemon()"/>
        }
        @else {
            <p-button label="Move To Top" (click)="moveToTop()"/>
            }
    </div>
</div>
}